/* VSlides style specification for core components.

 * The base style provides sensible defaults, being also customization-friendly. We use pure CSS 
 * here to reduce hard dependencies as much as possible. Tailwind/UnoCSS are supported in slide or
 * theme definitions. */

/* normalize first */
@import './normalize.css';

/* page content base style */
p,
a,
blockquote,
pre,
code,
ol,
ul,
li,
dl,
dt,
dd {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p,
ol,
ul,
dl {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

ol,
ul {
  padding-inline-start: 1.5rem;
}
